# Dependencies
/node_modules
/.pnp
.pnp.js

# Build artifacts
/.next/
/out/
/build

# Local environment files
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Sensitive config files
src/firebase/config.ts
